.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* que aparezca encima de todo */
}

.modal-container {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.modal-close {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
  line-height: 1;
}

.modal-close:hover {
  color: #ff0000; /* Un toque de color al pasar el mouse */
}